<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <!-- Пакети, які ви використовуєте -->
      <package pattern="Blazored.*" />
      <package pattern="BlazorInputFile" />
      <package pattern="FluentValidation" />
      <package pattern="Ardalis.*" />
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="JetBrains.*" />
      <package pattern="MinimalApi.*" />
      <package pattern="Swashbuckle.*" />
      <package pattern="Humanizer" />
      <package pattern="Humanizer.Core.*" />
      <package pattern="NuGet.*" />
      <package pattern="AutoMapper.*" />
      <package pattern="Azure.*" />
      <package pattern="MediatR" />
      <package pattern="MediatR.Contracts" />
      <package pattern="BuildBundlerMinifier" />
      <package pattern="Microsoft.Web.LibraryManager.Build" />
      <package pattern="MSTest.*" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="coverlet.*" />
      <package pattern="NSubstitute.*" />
      <package pattern="xunit.*" />
      <!-- Додайте, якщо десь залишився dotnet-xunit -->
      <package pattern="dotnet-xunit" />
    </packageSource>
  </packageSourceMapping>
</configuration>